$clouds: #ecf0f1;
$black: #000;
$blue: #2980b9;
$gray: #7f8c8d;
$green: #2ecc71;
$midnight: #2c3e50;
$gray_dark: #333;
$red: #c0392b;
$white: #fff;

#body {
    background-color: $clouds;
}
.text {
    color: $red;
}