// Colors
$clouds: #ecf0f1;
$black: #000;
$blue: #2980b9;
$gray: #7f8c8d;
$green: #2ecc71;
$midnight: #2c3e50;
$gray_dark: #333;
$red: #c0392b;
$white: #fff;
// Styles
$borderRadius: .5rem;

// Layout
#body {
    background-color: $clouds;
    padding-top: 5rem;
}
.section {
    background-color: $white;
    padding: 1.5rem;
    border-radius: $borderRadius;
    display: block;
    margin-bottom: 1rem;
}

// Text
.text {
    color: $gray;
}
.title {
    font-size: 2rem;
    font-weight: bold;
    color: $gray_dark;
}